* {
	margin: 0;
	padding: 0
}

img {
	border: none;
	padding: 5px;
}

body {
	background: url( black_linen_v2.png );
	font: normal normal normal 14px/ 1.4em Georgia;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px black;
	overflow: hidden;
}

h1 {
	font-size: 84px;
	line-height: 1em;
	font-weight: normal;
	text-align: left;
	text-shadow: 2px 3px 3px black;
	padding-bottom: 10px;
}

h2 {
	font-size: 28px;
	line-height: 1em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
	padding-right: 20px
}

h3 {
	font-size: 35px;
	font-weight: normal;
	text-align: center;
	padding: 13px;
}

#subtitle {
	position: absolute;
	right: 0;
	top: 20px;
	text-align: right
}

section {
	width: 950px;
	margin: 0 auto 0 auto;
	position: relative;
	display:none;
}

article {
	float: left;
	padding: 10px;
	margin: 20px 0;
	background: rgba(255, 255, 255, 0.0);
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
}

canvas {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0
}

a {
	color: #ffffff;
	text-decoration: none
}

p {
	margin-bottom: 1em
}

ul {
	-webkit-perspective: 800px; 
	-moz-perspective: 800px;
	perspective: 800px;
	min-height: 900px;
}

li {
	list-style-type: none;
	float: left;
	margin: 10px;
	transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	transform: rotateX(0deg) translateZ(0px);
	-moz-transform: rotateX(0deg) translateZ(0px);
	-webkit-transform: rotateX(0deg) translateZ(0px);
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

li:hover {
	transform: translateZ(20px);
	-moz-transform: translateZ(20px);
	-webkit-transform: translateZ(20px);
}

@keyframes slidein {
  from {
  	opacity: 0.0;
	transform: rotateX(360deg) translateZ(500px);
	-moz-transform: rotateX(360deg) translateZ(500px);
	-webkit-transform: rotateX(360deg) translateZ(500px);
  }
 
  to {
  	opacity: 1.0;
	transform: rotateX(0deg) translateZ(0px);
	-moz-transform: rotateX(0deg) translateZ(0px);
	-webkit-transform: rotateX(0deg) translateZ(0px);
  }
}

@-moz-keyframes slidein {
  from {
    opacity: 0.0;
	-moz-transform: rotateX(360deg) translateZ(500px);
  }
 
  to {
  	opacity: 1.0;
	-moz-transform: rotateX(0deg) translateZ(0px);
  }
}

@-webkit-keyframes slidein {
  from {
    opacity: 0.0;
	-webkit-transform: rotateX(360deg) translateZ(500px);
  }
 
  to {
  	opacity: 1.0;
	-webkit-transform: rotateX(0deg) translateZ(0px);
  }
}

@keyframes fadein {
  from { background: rgba(255, 255, 255, 0.0); }
  to { background: rgba(255, 255, 255, 0.15); }
}
@-moz-keyframes fadein {
  from { background: rgba(255, 255, 255, 0.0); }
  to { background: rgba(255, 255, 255, 0.15); }
}
@-webkit-keyframes fadein {
  from { background: rgba(255, 255, 255, 0.0); }
  to { background: rgba(255, 255, 255, 0.15); }
}

@keyframes opin {
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}
@-moz-keyframes opin {
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}
@-webkit-keyframes opin {
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}

div.outer {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: 3px 7px 9px rgba(0, 0, 0, 1);
	-moz-box-shadow: 3px 7px 9px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 3px 7px 9px rgba(0, 0, 0, 1);
	background: rgba(255, 255, 255, 0.3);
	padding: 5px;
	transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
}

li:hover div.outer {
	box-shadow: 13px 17px 19px rgba(0, 0, 0, 1);
	-moz-box-shadow: 13px 17px 19px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 13px 17px 19px rgba(0, 0, 0, 1);
}

div.inner {
	position: relative;
	top: 75px;
	background: rgba(130, 130, 130, 0.5);
	height: 50px;
	transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-webkit-transition: opacity 0.5s ease-in;
}

div.fadeable {
	width: 280px;
	height: 200px;
	border-radius: 13px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	transition: all 0.8s ease-in;
	-moz-transition: all 0.8s ease-in;
	-webkit-transition: all 0.8s ease-in;
}

.headersquare {
	border-radius: 0px 0px 25px 25px;
	-moz-border-radius: 0px 0px 25px 25px;
	-webkit-border-radius: 0px 0px 25px 25px;
	background: rgba(255, 255, 255, 0.15);
	padding: 10px;
}

ul {
	margin-bottom: 1em;
	width: 930px
}

footer {
	clear: both;
	width: 930px;
	margin: 0 auto 2em auto;
	color: #888;
	position: relative;
	padding: 10px 0 0 20px;
	display: none;
}

footer p {
	margin: 0
}